<config>
  <plugin type="hesperus.plugins.irc.IRCPlugin">
	<server>irc.freenode.net</server>
	<port>6667</port>
	<nick>hesperus-gitbot</nick>
	<channelmap>
	  <channel name="default">#moosesocks</channel>
	</channelmap>
  </plugin>
  
  <plugin type="hesperus.plugin.Plugin" channels="default"/>
  
  <plugin type="hesperus.plugins.ghub.GitHubPlugin">
	<feedmap>
	  <feed channel="default">https://github.com/agrif.private.json?token=fd1257089f1f21e0f7fb3c1888ed5b00</feed>
	</feedmap>
  </plugin>
</config>