<config>
  <plugin type="hesperus.plugins.irc.IRCPlugin">
	<server>irc.freenode.net</server>
	<port>6667</port>
	<nick>hesperus-gitbot</nick>
	<channelmap>
	  <channel name="default">#moosesocks</channel>
	</channelmap>
  </plugin>
  
  <plugin type="hesperus.plugins.ghub.GitHubPlugin">
	<!--
	<feedmap>
	  <feed channel="default">https://github.com/somefeed.json</feed>
	</feedmap>
	-->
  </plugin>
</config>