<config>
  <plugin type="hesperus.plugins.irc.IRCPlugin">
	<server>irc.freenode.net</server>
	<port>6667</port>
	<nick>hesperus-gitbot</nick>

	<channelmap>
	  <channel name="default">#moosesocks</channel>
	</channelmap>
	
	<nickmap>
	  <nick channel="admin">agrif</nick>
	</nickmap>
  </plugin>
  
  <plugin type="hesperus.plugins.google.GooglePlugin" channels="default"/>
  
  <plugin type="hesperus.plugins.ghub.GitHubPlugin" channels="default">
	<!--
	<feedmap>
	  <feed channel="default">https://github.com/somefeed.json</feed>
	</feedmap>
	-->
	<default-user>agrif</default-user>
	<default-repo>hesperus</default-repo>
  </plugin>
</config>
