# this is the right version and location, but does not build
# from pip and must be installed manually
#git+ssh://git@github.com/jaraco/irc.git@version_0_4_8
###### ABOVE IRC LIBRARY IS VERY PROBABLY MAYBE KINDA NOT USED
irc==19.0.1
fedex==2.4.1
feedparser==6.0.2
requests==2.25.1
WunderPython==0.1a1
python-twitch==1.3.0
